:root{
  --theme-color1: #142e49;
  --theme-color2: #f0ece4;
  --theme-color3: #c35d36;
}

a{
  text-decoration: none;
}

header{
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  background-color: var(--theme-color2);
  box-shadow: rgb(174, 174, 174) 0px 0px 5px;
  z-index: 100;
}

h1 span{
  color: var(--theme-color3)
}

.header-middle-section{
  width: 80px;
  display: flex;
  justify-content: center;
  flex: 3;
}

.header-left-section{
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.header-right-section{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header .fa-brands,
header .fa-solid{
  font-size: x-large;
  color: var(--theme-color1);
  transition: color 0.30s, opacity 0.15s;
}

header .fa-brands:hover,
header .fa-solid:hover{
  color: var(--theme-color3);
  cursor: pointer;
}

.fa-bars{
  margin-right: 20px;
}

h1{
  font-weight: 900;
  margin: 0;
  line-height: 150%;
  text-align: center;
  font-size: 50px;
  color: var(--theme-color1);
  transition: color .30s, opacity 0.15s;
}

h1:hover{
  color: var(--theme-color3);
  cursor: pointer;
}

header .fa-brands:active,
header .fa-solid:active,
h1:active{
  opacity: 0.7;
}

.hamburger-menu-container{
  position: relative;
}

.dropdown-menu{
  position: absolute;
  background-color: var(--theme-color2);
  top: 20px;
  right: 5px;
  border-radius: 10px;
  box-shadow: rgb(174, 174, 174) 0px 0px 5px;
  z-index: 1;
  padding: 8px;
  line-height: 50px;
  width: 25vw;
  height: 50vh;
  display: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.dropdown-menu .fa-solid,
.dropdown-menu a{
  color: var(--theme-color1);
  font-size: xx-large;
}

.dropdown-menu ul{
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}

.dropdown-menu a{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  transition: color 0.30s;
}

.dropdown-menu i{
  padding: 0px 10px;
  margin-right: 5px;
}

.dropdown-menu a:hover,
.dropdown-menu a:hover .fa-solid{
  color: #c35d36;
}

.hamburger-menu-container:hover .dropdown-menu{
  display: block;
}

.hamburger-menu-container:hover .fa-bars{
  color: var(--theme-color3);
}

@media (max-width: 569px){
  header .fa-brands,
  header .fa-solid{
    font-size: medium;
  }
}

@media (max-width: 820px){
  .dropdown-menu{
    width: 50vw;
  }
}

@media (max-width: 420px){
  .dropdown-menu{
    width: 75vw;
  }
}