:root{
  --theme-color1: #142e49;
  --theme-color2: #dfe1ca;
  --theme-color3: #c35d36;
}

header{
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  background-color: var(--theme-color2);
  box-shadow: rgb(174, 174, 174) 0px 0px 20px;
  z-index: 100;
}

h1 span{
  color: var(--theme-color3)
}

.header-middle-section{
  width: 80px;
  display: flex;
  justify-content: center;
  flex: 3;
}

.header-left-section{
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.header-right-section{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header .fa-brands,
header .fa-solid{
  font-size: x-large;
  color: var(--theme-color1);
  transition: color 0.30s, opacity 0.15s;
}

@media (max-width: 569px){
  header .fa-brands,
  header .fa-solid{
    font-size: medium;
  }
}

header .fa-brands:hover,
header .fa-solid:hover{
  color: var(--theme-color3);
  cursor: pointer;
}

.fa-bars{
  margin-right: 20px;
}

h1{
  font-weight: 900;
  margin: 0;
  line-height: 150%;
  text-align: center;
  font-size: 50px;
  color: var(--theme-color1);
  transition: color .30s, opacity 0.15s;
}

h1:hover{
  color: var(--theme-color3);
  cursor: pointer;
}

header .fa-brands:active,
header .fa-solid:active,
h1:active{
  opacity: 0.7;
}
