header{
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  background-color: white;
  box-shadow: rgb(174, 174, 174) 0px 0px 20px;
  z-index: 100;
}

.header-middle-section{
  width: 80px;
  display: flex;
  justify-content: center;
  flex: 3;
}

.header-left-section{
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.header-right-section{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hamburger-menu{
  margin-right: 20px;
}

h1{
  font-weight: 900;
  margin: 0;
  line-height: 150%;
  text-align: center;
  font-size: 50px;
  color: black;
}
header img{  
  height: 20px;
  width: 20px;
  display: inline-block;
}

