:root{
  --theme-color1: #142e49;
  --theme-color2: #f0ece4;
  --theme-color3: #c35d36;
}
body{
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--theme-color1);
}

main{
  margin-top: 0px;
  height: 200vh;
  padding: 60px 0px;
  position: relative;
  background-color: var(--theme-color2);
}

h2{
  font-family: 'Playfair Display',Arial, Helvetica, sans-serif;
}

.main-content{
  padding: 30px 10px;
  min-height: 100vh;
  max-height: fit-content;
}

.content-section{
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  padding: 20px;
  margin: 10px;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1;
  text-align: left;
}
.left-about-me{
  font-size: large;
}

.left-about-me h2{
  font-size: 350%;
}

.left-about-me span{
  font-weight: 700;
  color: var(--theme-color3);
}

.right-about-me p{
  font-size: large;
}

.right-about-me-buttons{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
}

.about-me-button,
.projects-button{
  border: none;
  width: 120px;
  background-color: var(--theme-color1);
  color: var(--theme-color2);
  border-radius: 50px;
  transition: background-color 0.30s, color 0.30s, opacity .15s;
  height: 100%;
}

.about-me-button{
  background-color: var(--theme-color3);
  color: var(--theme-color2);
}

.about-me-button:hover{
  background-color: var(--theme-color1);
  color: var(--theme-color2);
  opacity: 0.8;
  cursor: pointer;
}

.projects-button:hover{
  background-color: var(--theme-color3);
  opacity: 0.8;
  cursor: pointer;
}

.about-me-button:active,
.projects-button:active{
  opacity: 0.65;
}



.skillset-content{
  background-color: var(--theme-color1);
  margin: 0px;
  color: var(--theme-color2);
  min-height: 100vh;
  max-height: fit-content;
}

.content-grid{
  padding: 100px 200px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
  max-height: fit-content;
}

h4{
  display: inline-block;
  font-size: xx-large;
}

.content-grid span{
  color: var(--theme-color3);
}

.skillset-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding-left: 0px;
  column-gap: 100px;
  row-gap: 100px;
}

.skillset-grid li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
}

.skillset-grid i{
  color: var(--theme-color2);
  font-size: 200%;
}

.projects{
background-color: var(--theme-color2);
margin: 0px;
color: var(--theme-color1);
min-height: 100vh;
max-height: max-content;
text-align: center;
}

.projects span{
  color: var(--theme-color3);
}

.projects-flexbox{
  display: flex;
  flex-direction: column;
}

.projects-section{
  display: flex;
  flex-direction: column;
}

.projectCard{
  display: flex;
  flex-wrap: wrap;
}

.project2{
  flex-wrap: wrap-reverse;
}

.projects-section img{
  width: 50%;
  flex: 1;
  border-radius: 10px;
  margin: 2%;
  object-fit: contain;
}

.project-info{
  flex: 1;
  margin: 0 5%;
}

.project-title{
  font-size: large;
  font-weight: bolder;
}

.project-title span{
  color: var(--theme-color3);
}

.project-discription{
  text-align: left;
}

.made-with{
  display: flex;
  font-size: xx-large;
  justify-content: space-evenly;
}

.project-deployments{
  display: flex;
  font-size: large;
  justify-content: space-evenly;
  margin-top: 8%;
}

.contact-me{
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color1);
  color: var(--theme-color3);
  align-items: center;
  min-height: 75vh;
  max-height: fit-content;
  justify-content: center;
  gap: 5%;
}

.contact-me h5{
  font-size: xx-large;
}

.contact-me span{
  color: var(--theme-color2);
}

.contactCard{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.rightContactCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightContactCard a{
  display: flex;
  align-items: center;
  color: var(--theme-color2);
  font-size: large;
  transition: color 0.30s;
}

.rightContactCard a:hover{
  color: var(--theme-color3);
  cursor: pointer;
}

.rightContactCard i{
  margin-right: 8px;
  font-size: x-large;
}

.leftContactCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftContactCard p{
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.leftContactCard img{
  width: 50%;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .skillset-grid{
    grid-template-columns: 1fr 1fr;
    column-gap: 20%;
    row-gap: 20%;
  }
  .content-grid{
    padding: 20px;
  }
}

@media (max-width: 410px) {
  .skillset-grid li{
    font-size: x-large;
  }
  
}

@media (min-width: 960px){
  .main-content{
    display: flex;
    flex-direction: row;
  }
  .content-section{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35vh;
    align-items: flex-start;
  }

  .left-about-me{
    padding-left: 60px;
  }
  .left-about-me h2{
    font-size: 100px;
    margin: 20px 0px;
  }

  .right-about-me p{
    font-size: xx-large;
  }
}