:root{
  --theme-color1: #142e49;
  --theme-color2: #dfe1ca;
  --theme-color3: #c35d36;
}
body{
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--theme-color1);
}

main{
  margin-top: 0px;
  height: 700px;
  padding: 100px 20px;
  position: relative;
  background-color: var(--theme-color2);
}

h2{
  font-family: 'Playfair Display',Arial, Helvetica, sans-serif;
}

.main-content{
  display: flex;
  justify-content: space-around;
  height: 500px;
}

.left-about-me,
.right-about-me{
  background-color: #e7e9ce;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.left-about-me span{
  font-weight: 700;
  color: var(--theme-color3);
}

.right-about-me-buttons{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
}

.about-me-button,
.projects-button{
  border: none;
  width: 120px;
  background-color: var(--theme-color1);
  color: var(--theme-color2);
  border-radius: 50px;
}