:root{
  --theme-color1: #142e49;
  --theme-color2: #dfe1ca;
}
body{
  margin: 0;
}

main{
  margin-top: 0px;
  height: 700px;
  padding: 60px 20px;
  position: relative;
  background-color: var(--theme-color2);
}

main p{
  position: absolute;
  top: 500px;
  left: 30px;
}
